DATABASE_URL="postgresql://postgres:golepariks@localhost:5432/rudrakshak"
NODE_ENV=production
PORT=5000
VOICE_SERVER_URL=http://127.0.0.1:8003
VOICE_SERVER_SECRET=your_super_secret_123
NX_BASE_URL=https://192.168.1.10:7001
NX_USERNAME="admin"
NX_PASSWORD="rudrakshak"
NX_CLOUD_SYSTEM_ID="e361a47e-b031-48b3-af0e-5ef21305b888"
NX_CLOUD_USERNAME="parikshitgole@rayonix.in"
NX_CLOUD_PASSWORD="golePARIKS1818"